body{
    background-color: #e3e3e3 !important;
}

.input-group-text{
    min-width: 130px;
}

.inputLine{
    max-width: 600px !important;
}

form div button{
    border: 1px solid black !important;
    min-width: 200px;
}

.links{
    text-align: center;
}

.links a{
    border: 1px solid black !important;
}