<!DOCTYPE html>
<html lang="en">

<head>
    {{head}}
    <title>QrCode App</title>
</head>

<body>

    <main class="container mt-5 d-flex justify-content-center">

        <div class="row">
            <div class="col">
                <h5 class="mb-5 d-flex justify-content-center">Hello, my name is {{name}}</h5>

                <h5><b>My history</b></h5>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

                <div class="row links mt-5">
                    <div class="col-md-6">
                        <a target="_blank" href="{{github}}" class="btn btn-light">Github</a>
                    </div>
                    <div class="col-md-6">
                        <a target="_blank" href="{{linkedin}}" class="btn btn-light">Linkedin</a>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>

{{scripts}}

</html>